In [1]:
import pandas as pd
import numpy as np

In [ ]:
# import master vocaulary with bigram classifications
bigrams_master = bigrams = pd.read_csv("../../data/vocabulary/master_list.txt", sep = "|")

# improt speaker bigram for session X
speaker_bigrams = pd.read_csv("../../data/hein-bound/byspeaker_2gram_111.txt", sep = "|")

# import speaker map for session X
speaker_map = pd.read_csv("../../data/hein-bound/111_SpeakerMap.txt", sep = "|")

In [4]:
print(bigrams_master.shape)
bigrams_master.head()

(6822118, 2)

    phrase   _classify
0      0 0  bad_syntax
1     0 00  bad_syntax
2    0 000  bad_syntax
3   0 0000  bad_syntax
4  0 00000  bad_syntax

In [5]:
print(speaker_bigrams.shape)
speaker_bigrams.head()

(10467042, 3)

   speakerid     phrase  count
0  111113931       0 01      1
1  111113931  0 fervent      1
2  111113931     0 hope      1
3  111113931    0 sugar      1
4  111113931     000 20      1

In [6]:
print(speaker_map.shape)
speaker_map.head()

(112550, 10)

,speakerid,speech_id,lastname,firstname,chamber,state,gender,party,district,nonvoting
0,111120160,1110000007,LARSON,JOHN,H,CT,M,D,1.0,voting
1,111117010,1110000009,PENCE,MIKE,H,IN,M,R,6.0,voting
2,111118060,1110000013,BOEHNER,JOHN,H,OH,M,R,8.0,voting
3,111120780,1110000014,PELOSI,NANCY,H,CA,F,D,8.0,voting
4,111119830,1110000015,HOYER,STENY,H,MD,M,D,5.0,voting

In [7]:
# import speeches from session X
# line 55163 removed extar pipe "vote. (|) 1116 Messrs"
session_speeches = bigrams = pd.read_csv("data/hein-bound/speeches_111.txt", sep = "|", encoding = "ISO-8859-1")

In [8]:
print(session_speeches.shape)
session_speeches.head()

(179268, 2)

    speech_id                                             speech
0  1110000001  The Representativeselect and their guests will...
1  1110000002  As directed by law. the Clerk of the House has...
2  1110000003  The quor closes that 428 Represer have respond...
3  1110000004  Credentials. regular in form. have been receiv...
4  1110000005  The Clerk is in receipt of a letter of resigna...

In [12]:
print("session_bigrams dim", speaker_bigrams.shape)
print("bigrams_master dim", bigrams_master.shape)

session_bigrams dim (10467042, 3)
bigrams_master dim (6822118, 2)

In [58]:
# generating valid session bigrams
session_bigrams = (speaker_bigrams
                   .merge(bigrams_master, how = "inner", on ="phrase")
                  )

In [59]:
valid_session_bigrams = session_bigrams[session_bigrams['_classify'] == "vocab"]

In [70]:
valid_session_bigrams.head()

       speakerid       phrase  count _classify
16135  111113931  abil produc      1     vocab
16136  111114091  abil produc      2     vocab
16137  111114101  abil produc      1     vocab
16138  111115360  abil produc      1     vocab
16139  111116310  abil produc      2     vocab

In [85]:
# iteration ignoring phrase counts
# speaker_phrases = valid_session_bigrams.groupby('speakerid')['phrase'].apply(lambda x: "[%s]" % ', '.join(x))
speaker_phrases = valid_session_bigrams.groupby('speakerid')['phrase'].apply(list)

In [103]:
speaker_phrases#.apply(len).median()

speakerid
111113931    [abil produc, abil secur, abil strike, abl ass...
111113951    [accomplish thing, accord cbo, across aisl, ac...
111113981    [abl provid, abus practic, accord cbo, account...
111114011    [abl provid, abort right, academ institut, acc...
111114021    [academ standard, accomplish just, achiev awar...
111114091    [abil produc, abl provid, abl us, abus practic...
111114101    [abil produc, abl contribut, abl provid, accom...
111114121    [academ success, accept premis, accord cbo, ac...
111114171    [abl assess, accomplish just, accomplish thing...
111114321    [abl effect, abl provid, accomplish busi, achi...
111114331    [accomplish jurist, across america, across cou...
111114451    [baghdad iraq, better credit, bill also, commu...
111114511    [abl contribut, abort right, abund natur, acad...
111114561    [abl provid, account offic, across aisl, acros...
111114621    [account offic, across countri, across state, ...
111114651    [across state, admir much, advoc behalf, arm f...
111114751    [accord cbo, account use, across america, acro...
111114941    [across aisl, across america, across countri, ...
111115280    [addit feder, address issu, also like, altern ...
111115290    [across america, across countri, air forc, als...
111115300    [account offic, across america, across countri...
111115310    [academ institut, across countri, across natio...
111115320    [across countri, across nation, across state, ...
111115330    [abl provid, accord cbo, across aisl, across c...
111115340    [across aisl, across countri, american peopl, ...
111115351    [act like, among us, civil right, colleagu kno...
111115360    [abil produc, abl provid, abund natur, across ...
111115370    [across countri, across nation, addit resourc,...
111115380    [across countri, address issu, air forc, ameri...
111115390    [achiev award, across america, across countri,...
                                   ...
111121500    [academi famili, account offic, acquisit progr...
111121510    [across countri, air forc, also help, arm forc...
111121520    [academ success, achiev award, across aisl, ac...
111121530    [account offic, across america, across countri...
111121541    [accept premis, accord cbo, account use, acros...
111121550    [across countri, also help, american famili, a...
111121570    [abus practic, academ institut, academ perform...
111121590    [academ success, across countri, also help, am...
111121600    [across america, across countri, across state,...
111121610    [abil produc, across america, across countri, ...
111121620    [abus practic, account offic, across countri, ...
111121630    [account offic, across countri, across nation,...
111121640    [account offic, achiev award, achiev medal, ac...
111121651    [accept offer, account offic, achiev award, ac...
111121670    [also like, america great, american famili, am...
111121680    [abil produc, achiev award, across aisl, acros...
111121690    [across aisl, across america, across countri, ...
111121700    [abus practic, academ perform, academ success,...
111121720    [across america, across countri, address impor...
111121730    [across countri, afghanistan member, airborn d...
111121740    [account offic, across aisl, across america, a...
111121760    [academ success, achiev past, across aisl, acr...
111121791    [abil secur, abl effect, abus practic, access ...
111121800    [abl provid, accomplish thing, across countri,...
111121820    [activ member, air forc, also like, around wor...
111121840    [account offic, across countri, across nation,...
111121930    [abl provid, across countri, agenc congress, a...
111121940    [abund natur, academ institut, accomplish just...
111121950    [across america, across countri, across nation...
111121960    [abl provid, academ success, across countri, a...
Name: phrase, Length: 551, dtype: object

In [90]:
dictionary = gensim.corpora.Dictionary(speaker_phrases)

count = 0
for k, v in dictionary.iteritems():
    print(k, v)
    count += 1
    if count > 10:
        break

0 abil produc
1 abil secur
2 abil strike
3 abl assess
4 abl contribut
5 abl effect
6 abl provid
7 abl us
8 abort right
9 abroad carri
10 abund natur

In [92]:
import gensim
bow_corpus = [dictionary.doc2bow(doc) for doc in speaker_phrases]

In [94]:
from gensim import corpora, models
tfidf = models.TfidfModel(bow_corpus)
corpus_tfidf = tfidf[bow_corpus]

In [106]:
lda_model = gensim.models.LdaMulticore(bow_corpus, num_topics=10, id2word=dictionary, passes=100, workers=2)

In [107]:
for idx, topic in lda_model.print_topics(-1):
    print('Topic: {} \nWords: {}'.format(idx, topic))

Topic: 0
Words: 0.000*"need victim" + 0.000*"communiti safeti" + 0.000*"congress commiss" + 0.000*"maintain system" + 0.000*"help survivor" + 0.000*"state dc" + 0.000*"illeg trade" + 0.000*"servic crime" + 0.000*"campus public" + 0.000*"year rebuild"
Topic: 1
Words: 0.000*"troubl troubl" + 0.000*"head execut" + 0.000*"give thing" + 0.000*"japan korea" + 0.000*"like illeg" + 0.000*"told thing" + 0.000*"spend rememb" + 0.000*"bill hadnt" + 0.000*"elect that" + 0.000*"regul theyr"
Topic: 2
Words: 0.000*"engin depart" + 0.000*"among strongest" + 0.000*"colleg largest" + 0.000*"servic extraordinari" + 0.000*"sad learn" + 0.000*"becom ever" + 0.000*"firefight everi" + 0.000*"colombia remain" + 0.000*"leftbehind parent" + 0.000*"gave nation"
Topic: 3
Words: 0.000*"secur imper" + 0.000*"impact unit" + 0.000*"understand occur" + 0.000*"world requir" + 0.000*"stryker vehicl" + 0.000*"author servic" + 0.000*"iran becom" + 0.000*"fuel tank" + 0.000*"support must" + 0.000*"area natur"
Topic: 4
Words: 0.000*"goal clean" + 0.000*"assist requir" + 0.000*"environ import" + 0.000*"clear economi" + 0.000*"year dramat" + 0.000*"popul one" + 0.000*"preserv wildlif" + 0.000*"ago congression" + 0.000*"erad poverti" + 0.000*"chair transport"
Topic: 5
Words: 0.000*"took nation" + 0.000*"competit option" + 0.000*"tax design" + 0.000*"watch offic" + 0.000*"fast peopl" + 0.000*"dollar issu" + 0.000*"told current" + 0.000*"lead folk" + 0.000*"percent wors" + 0.000*"go strike"
Topic: 6
Words: 0.000*"time juvenil" + 0.000*"product proper" + 0.000*"safe includ" + 0.000*"troubl youth" + 0.000*"access effect" + 0.000*"repeal flaw" + 0.000*"align stem" + 0.000*"great possess" + 0.000*"vote brother" + 0.000*"mandat unit"
Topic: 7
Words: 0.000*"retrofit home" + 0.000*"got kid" + 0.000*"america cours" + 0.000*"american million" + 0.000*"made payment" + 0.000*"time attack" + 0.000*"cell technolog" + 0.000*"present danger" + 0.000*"survivor unit" + 0.000*"care took"
Topic: 8
Words: 0.000*"health care" + 0.000*"urg colleagu" + 0.000*"american peopl" + 0.000*"men women" + 0.000*"year ago" + 0.000*"make sure" + 0.000*"colleagu support" + 0.000*"side aisl" + 0.000*"across countri" + 0.000*"creat job"
Topic: 9
Words: 0.000*"manufactur anyth" + 0.000*"general comment" + 0.000*"particular get" + 0.000*"manag everi" + 0.000*"document detail" + 0.000*"reward bonus" + 0.000*"exchang access" + 0.000*"global busi" + 0.000*"commerc board" + 0.000*"probabl china"

In [ ]:
lda_model_tfidf = gensim.models.LdaMulticore(corpus_tfidf, num_topics=10, id2word=dictionary, passes=2, workers=4)
for idx, topic in lda_model_tfidf.print_topics(-1):
    print('Topic: {} Word: {}'.format(idx, topic))

In [55]:
# speaker with most speeches
speaker_map.groupby('speakerid').agg({'speech_id':'count'}).idxmax()

speech_id    111120961
dtype: int64

In [53]:
# bigram classes
session_bigrams["_classify"].unique()

array(['bad_syntax', 'roberts_and_riddicks', 'co-occurring', 'riddicks',
       'vocab', 'stopword', 'roberts'], dtype=object)

In [38]:
# session speaker count
speaker_map['speakerid'].unique().shape[0]

557

In [46]:
speaker_map.drop(['speech_id'], axis=1).drop_duplicates().head()

   speakerid lastname firstname chamber state gender party  district nonvoting
0  111120160   LARSON      JOHN       H    CT      M     D       1.0    voting
1  111117010    PENCE      MIKE       H    IN      M     R       6.0    voting
2  111118060  BOEHNER      JOHN       H    OH      M     R       8.0    voting
3  111120780   PELOSI     NANCY       H    CA      F     D       8.0    voting
4  111119830    HOYER     STENY       H    MD      M     D       5.0    voting