In [1]:
import numpy as np
import pandas as pd

import gensim
import os


os.chdir("../../scripts/assembly")

from session_speaker_assembly import *

In [2]:
import time

In [3]:
speaker_map_df, session_phrase_df = session_phrases(110)

In [4]:
valid_phrase_df = select_phrase_classes(session_phrase_df, classes = ['vocab'])

In [5]:
valid_phrase_df

          speakerid             phrase  count _classify
54910     110113461       abandon iraq      3     vocab
54911     110113681       abandon iraq      1     vocab
54912     110113981       abandon iraq      1     vocab
54913     110114121       abandon iraq      1     vocab
54914     110114171       abandon iraq      1     vocab
...             ...                ...    ...       ...
10244183  110121930         wellb high      1     vocab
10244185  110121930  whether complaint      1     vocab
10244187  110121930         word twist      1     vocab
10244190  110121930      world quantum      1     vocab
10244191  110121930          world rid      1     vocab

[6793193 rows x 4 columns]

In [6]:
import time

start = time.time()
documents = speaker_docs(valid_phrase_df) #
end = time.time()
elapsed = end - start
    
print(round(elapsed / 60 , 3), " minutes")

1.487  minutes

In [7]:
docs = pd.DataFrame(documents)
docs.head()

   speakerid                                             phrase
0  110113461  [abandon iraq, abandon iraq, abandon iraq, aba...
1  110113891  [abl fill, abl get, abl provid, abl put, abl s...
2  110114101  [abil critic, abil get, abil get, abil get, ab...
3  110114590  [abl afford, abl get, abl get, abl get, abl ke...
4  110114670  [access act, across nation, across nation, add...